<template>
  <div id="cretae_edit">
    <h3>{{isNew? '创建':'编辑'}}课程列表</h3>
    <ele-form v-model="data" :form-data="data" :form-desc="fields" :request-fn="submit"></ele-form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class CourseList extends Vue {
  data:any = {};

  @Prop(String) id !: string;

  get isNew() {
    return !this.id;
  }

  async fetch() {
    const res = await this.$http.get(`courses/${this.id}`);
    this.data = res.data;
  }

  async submit(data:any){
    const url = this.isNew ? `courses`:`courses/${this.id}`
    const method = this.isNew ? 'post':'put';
    /* []是js直接取对象 */
    console.log(data)
    await this.$http[method](url,data)
    this.$message.success('保存成功')
    this.data = {}
    this.$router.go(-1)
  }

  created() {
    !this.isNew && this.fetch();
  }
}
</script>


<style lang="scss" scoped>
</style>