<template>
  <div>
    <avue-crud
      v-if="option.column"
      :page="page"
      :data="data.data"
      :option="option"
      @row-save="create"
      @row-update="update"
      @row-del="remove"
      @on-load="changePage"
      @sort-change="changeSort"
      @search-change="search"
    ></avue-crud>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class ResourceList  extends Vue {
  @Prop(String) resource!: string;

  data: any = {}

  option: any ={}

  page: any = {
    // pageSize: 2,
    // pageSizes: [2, 5, 10],
    total: 0
  };

  query: any = {
  };

  /* 资源列表 */
  async fetch() {
    const res = await this.$http.get(`${this.resource}`,{
      params: {
        query : this.query
      }
    });
    this.page.total = res.data.total;
    this.data = res.data;
  }
  /* 加载的列 */
  
  async fetchOption(){
    const res = await this.$http.get(`${this.resource}/option`)
    this.option = res.data
  }

  async create(row:any,done:any) {
    await this.$http.post(`${this.resource}`,row)
    this.$message.success('创建成功！')
    this.fetch();
    done()
  }

  async update(row,index,done:any) {
    /* 深复制 */
    const data = JSON.parse(JSON.stringify(row))
    delete data.$index;
    await this.$http.put(`${this.resource}/${row._id}`,data)
    this.$message.success('更新成功！')
    this.fetch();
    done();
  }

  async remove(row) {
    try {
      await this.$confirm('是否确认删除吗')
    } catch (error) {
      return;
    }
    await this.$http.delete(`${this.resource}/${row._id}`,)
    this.$message.success('删除成功')
    this.fetch();
  }

  async changePage({pageSize,currentPage}){
    this.query.page = currentPage;
    this.query.limit = pageSize;
    this.fetch();
    console.log(currentPage)
  }

  async changeSort({prop,order}){
    if(!order){
      this.query.sort = null;
    }else{
      this.query.sort = {
        [prop]:order === "ascending" ? 1: -1
      }
    }
    this.fetch();
  }

  async search(where,done){
    // this.query.where = where;
    for(let k in where ){
      /* 从搜索的Key中去匹配当前所有列表的某个值 */
      const filed = this.option.column.find(v => v.prop === k)
      /* 如果存在字段regex就去匹配模糊查询 */
      if(filed.regex){
        where[k] = {$regex:where[k]}
      }
    }
    this.query.where = where;
    this.fetch();
    done()
  }

  created() {
    this.fetch();
    this.fetchOption();
  }
}
</script>


<style lang="scss" scoped>
</style>